.product-block-info{
  margin-top: 20px;
}
.product-block-info{
  width: 100%;
  float: left;
  margin: 20px 0px;
}
.product-block-info .product-block-item{
  float: left;
}
.content-item{
  margin: 0px 15px;
  border: 1px solid #b9bcc2;
  padding: 20px 20px 15px 20px;
}
.info-image img{
  max-width: 100%;
}
.info-image{
  width: 50px;
  float: left;
  position: relative;
  height: 100%;
  text-align: center;
}
.info-content .block_description{
  display: block;
  font-family: Lato;
  font-size: 16px;
  color: #7e7e7f;
}
.info-content .block_title{
  display: block;
  font-family: Lato;
  font-size: 19px;
  font-weight: bold;
  color: #444445;
  padding-bottom: 10px;
  padding-top: 4px;
}
.info-content{
  float: left;
  padding-left: 20px;
  width: calc(100% - 50px);
}
.product-inform-1{
  width: 100%;
}
.product-inform-2{
  width: 50%;
}
.product-inform-3{
  width: 33%;
}
.product-inform-4{
  width: 25%;
}
.product-inform-5{
  width: 20%;
}
.product-inform-6{
  width: 16.6%;
}