.scroll_top_block i{
  font-size: 40px;
  color: #ffffff;
}
.scroll_top_block{
  position: fixed;
  bottom: 0px;
  width: 1110px;
  z-index: 111111;
}
.scroll_top_block .scroll_top{
  width: 50px;
  height: 40px;
  margin-right: -50px;
  margin-top: -50px;
  background-color: #d19e65;
  text-align: center;
  cursor: pointer;
  right: 0px;
  border-radius: 3px;
  display: none;
  position: absolute;
  float: right;
}
.scroll_top_block .scroll_top:hover{
  background-color: #d19e65 ;
}

#index .scroll_top_block .scroll_top{
  margin-right: 30px;
}