.title_manufacturer_block {
  padding: 5px 0px 15px 0px;
  text-align: center;
  font-size: 24px;
  text-align: center;
}
.container_manufacturer{
  width: 100%;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.manufacturer-list-homepage .manufacturer-item{
  float: left;
  padding: 10px;
  text-align: center;
}
.container_manufacturer img{
  margin: 0 auto;
}
.container_manufacturer{
  padding: 0px 100px;
}
.manufacturer-item .title{
  color: #444445;
  font-family: Lato;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  padding-top: 5px;
}
.manufacturer-item .title:hover{
  color: #d19e65;
}
