#contactform_form .form-group #mce_22{
  border: 1px solid #eee !important;
}

.title_form_group_class_contact .col-lg-offset-3{
  margin-left: 0px !important;
  width: 100% !important;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #dadada;
  padding: 10px 0px;
}
.form_field_width_200{
  width: 200px !important;
}
.form_field_width_50 input[type='text'], .form_field_width_50 textarea{
  width: 50% !important;
}
@media (max-width: 1200px) {
  .form_field_width_50 input[type='text'], .form_field_width_50 textarea{
    width: 100% !important;
  }
}
.one_block_description .col-lg-offset-3{
  font-size: 14px;
  margin-left: 0px !important;
  border-bottom: 1px solid #dadada;
  padding: 10px 0px;
  font-weight: normal;
  width: 100% !important;
}
.add_more_block .col-lg-offset-3 label{
  margin-left: 0px !important;
  font-size: 14px;
  font-weight: normal;
  color: #3586AE;
  margin-top: 6px;
}
#add_one_block{
  padding: 5px 30px;
  font-size: 15px;
  float: right;
}
.add_more_block .col-lg-offset-3{
  font-size: 14px;
  border: 1px solid #eee;
  padding: 10px 30px;
  font-weight: normal;
  background-color: #FCFDFE;
  border-radius: 2px;
}
.show_fields_form .col-lg-offset-3 {
  border-bottom: 1px solid #dadada;
  padding: 10px 0px;
  font-size: 13px;
  font-weight: bold;
}
.form_field_width_50 .help-block{
  overflow: hidden;
}

.form_settings .col-lg-9{
  border-bottom: 1px solid #dadada;
  padding: 10px 0px;
  font-size: 14px;
  margin: -30px 0 0 0px;
  width: 100%;
  font-weight: bold;
}